# Created by venv; see https://docs.python.org/3/library/venv.html
Python virtual environment

.venv/
venv/
*.pyc

Streamlit secrets

.streamlit/secrets.toml

IDE / OS files

.vscode/
pycache/
.DS_Store

# Ignore the large model file
pothole_severity_model.pkl

# Ignore the large data file (Good Practice)
*311_Service_Requests_from_2010_to_Present.csv